body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

canvas {
display: block;
position: relative;
}

.carousel-control-next,
.carousel-control-prev  {
    height: 10%;
    top: 97.5% !important;
}

.carousel-indicators {
    bottom: -10% !important;
}

.slidecontainer {
    width: 100%;
  }
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 75%;
    background: rgb(255, 255, 255);
    outline: none;
    opacity: 0.2;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10%;
    height: 75%;
    background: #6499e9;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10%;
    height: 75%;
    background: #6499e9;
    cursor: pointer;
}